body {
  margin: 0;
}


#main {
  
}

.button {
  font-size: 4em;
  height: 50%;
  text-align: center;
  vertical-align: middle;
}

#recordHole {
  color: white;
  background-color: orange;
}

#holeMap {
  background-color: blue;
}

a:hover {
  color: white;
  text-decoration: none;
}
a:visited {
  color: white;
  text-decoration: none;
}
a:link {
  color: white;
  text-decoration: none;
}
a:active {
  color: white;
  text-decoration: none;
}
