
<!-- <div id="demo">TEST BOX</div> -->

<div id="main">

<!-- POTHOLE Button -->
<div id="recordHole" class="button">POTHOLE Here</div>

<!-- POTHOLE Map -->
<a href="/test"><div id="holeMap" class="button">POTHOLE Map</div></a>

</div>