
<div id="main">

  <!-- POTHOLE Button -->
  <div id="recordHole" class="button">POTHOLE Here</div>

  <!-- POTHOLE Map -->
  <a href="/map"><div id="holeMap" class="button">POTHOLE Map</div></a>

</div>

<%= form_tag("/hole", method: "POST", id: "geoForm") do %>
  <%= text_field_tag "location[latitude]" %>
  <%= text_field_tag "location[longitude]" %>
<% end %>